.active-btn {
  visibility: visible !important;
  opacity: 1 !important; }

.header {
  background: #797979;
  position: static; }
  .header .contact-block .contact-item div {
    color: #fff; }
  .header .menu-line {
    display: none; }

.breadcrumb {
  background: none; }

.main-content {
  background: #e8e8e8;
  font-family: 'Open Sans';
  position: relative;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5; }
  .main-content .breadcrumb-item {
    padding-top: 10px; }
  .main-content h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0.67rem 0; }
  .main-content p {
    margin-bottom: 10px; }
  .main-content .check-list {
    list-style-type: none;
    margin-left: 15px; }
    .main-content .check-list li {
      line-height: 1.5; }
    .main-content .check-list i {
      padding-right: 5px;
      color: #f58634; }

#comment {
  border-top: 1px solid #e8e8e8;
  margin-bottom: 1vh; }

#back_to_top {
  position: fixed;
  right: 1%;
  bottom: 1%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  background: #888888;
  -webkit-border-radius: 20%;
          border-radius: 20%;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
  -webkit-transition: opacity 0.5s ease !important;
  -o-transition: opacity 0.5s ease !important;
  transition: opacity 0.5s ease !important;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility .5s ease;
  -o-transition: visibility .5s ease;
  transition: visibility .5s ease; }
  #back_to_top i {
    color: white;
    background: #888888; }
.stone-view a{
  outline: none;
  text-decoration: none;
  padding-bottom: 15px;
  padding-top: 15px;
}
.contact-block .icons-text {
        color: #202020;
        font-family: 'Open Sans';
        font-size: 14px; }
        .contact-item{
          display: flex;
          align-items: center;
          margin-bottom: 15px
        }
      .sprite {
        background-image: url(../images/footer-icons.png);
        background-repeat: no-repeat;
        display: block;
        margin-right: 12px; }
     .sprite-faxl {
        width: 16px;
        height: 13px;
        background-position: -5px -5px; }
      .sprite-mail {
        width: 12px;
        height: 9px;
        background-position: -31px -5px; }
       .sprite-marker {
        width: 10px;
        height: 14px;
        background-position: -53px -5px; }
       .sprite-phone {
        width: 13px;
        height: 13px;
        background-position: -73px -5px; }
       .sprite-site {
        width: 14px;
        height: 14px;
        background-position: -96px -5px; }
.feedback .placeinput {
    position: relative;
    overflow: hidden; }
  .feedback input::-webkit-input-placeholder {
    color: #000; }
 .feedback input:-moz-placeholder {
    color: #000; }
 .feedback input {
    width: 100%;
    height: 30px;
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    outline: none;
    padding-left: 15px; }
 .feedback input:last-child {
      margin-right: 0; }
 .feedback .place-holder {
    z-index: 100;
    left: 10px;
    cursor: text;
    position: absolute;
    top: 8px;
    left: 30px;
    width: 100%;
    color: #000;
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 14px; }
 .feedback .place-holder span {
      color: red; }
.feedback .area {
    margin-top: 25px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 14px;
    height: 100px;
    width: 100%;
    outline: none;
    resize: none; }
 .feedback textarea::-webkit-input-placeholder {
    color: #000; }
  .feedback textarea:-moz-placeholder {
    color: #000; }
  .feedback .btn-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
.link-pages-block{
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}
.link-pages-block img{
  max-width: 100%
  display: block;
}
.link-pages-block .title-page{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.link-pages-block .dark-bg{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease ;
  transition-property: width, height;


}
.link-pages-block:hover .dark-bg{
  width: 100%;
  height: 100%;
  visibility: visible;
}
.dark-bg .link-page{
  display: inline-block;
  padding: 5px 35px;
  border: 1px solid #fff;
  margin-top: 50%;
  margin-left: 50%;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  transform: translateY(-50%) translateX(-50%);
}
.dark-bg .link-page:hover{
  background: #fff;
  color: #000;
}
.filter-menu{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px

}
.filter-menu .btn-dark{
  padding: 8px 25px;
  margin: 10px;

}

