.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

section {
  width: 100%; }

button,
button:active,
button:focus {
  outline: none; }

p {
  margin-bottom: 0; }

h2.section-title {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 32px;
  font-weight: 300;
  color: black;
  text-transform: uppercase; }

.h-underline {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 150px;
  height: 2px;
  background-color: #ec7e01; }

h3.title-advertising {
  display: block;
  font-family: 'HelveticaNeueCyr-Bold';
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase; }

.appendix {
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 30px;
  font-weight: 300;
  color: #fff; }

.line-underline-red {
  width: 120px;
  height: 2px;
  background: #ec7e01;
  margin-bottom: 15px;
  margin-top: 35px; }

.btn-orange {
  display: block;
  font-family: 'HelveticaNeueCyr-Bold';
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  background: #ec7e01;
  text-transform: uppercase;
  padding: 15px 40px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  outline: none;
  border: none; }
  .btn-orange:hover {
    background: #f4901f; }

.popup-form-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(32, 32, 32, 0.9);
  z-index: 1000; }
  .popup-form-block .form-block {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
    .popup-form-block .form-block .text {
      font-size: 18px;
      color: #fff; }
    .popup-form-block .form-block .close {
      color: #fff;
      position: absolute;
      top: -15px;
      right: -15px;
      opacity: 0.7; }
      .popup-form-block .form-block .close:hover {
        opacity: 1; }
    .popup-form-block .form-block form {
      margin-top: 50px; }
    .popup-form-block .form-block .placeinput {
      position: relative;
      overflow: hidden; }
    .popup-form-block .form-block input::-webkit-input-placeholder {
      color: #fff; }
    .popup-form-block .form-block input:-moz-placeholder {
      color: #fff; }
    .popup-form-block .form-block input {
      width: 100%;
      height: 25px;
      font-family: 'HelveticaNeueCyr-Roman';
      font-size: 14px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      outline: none;
      padding-left: 15px; }
      .popup-form-block .form-block input:last-child {
        margin-right: 0; }
    .popup-form-block .form-block .place-holder {
      z-index: 100;
      left: 10px;
      cursor: text;
      position: absolute;
      top: 3px;
      left: 30px;
      width: 100%;
      color: #fff;
      font-family: 'HelveticaNeueCyr-Roman';
      font-size: 14px; }
      .popup-form-block .form-block .place-holder span {
        color: red; }
    .popup-form-block .form-block .area {
      margin-top: 25px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 14px;
      height: 100px;
      width: 100%;
      outline: none;
      resize: none; }
    .popup-form-block .form-block textarea::-webkit-input-placeholder {
      color: #fff; }
    .popup-form-block .form-block textarea:-moz-placeholder {
      color: #fff; }
    .popup-form-block .form-block .btn-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 40px;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }

body {
  line-height: 1;
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 14pt;
  background: #fff;
  color: #202020; }

header {
  position: relative;
  width: 100%;
  min-height: 800px; }
  header #carouselExampleIndicators img {
    max-width: none; }
  header #carouselExampleIndicators .img {
    max-width: 100%;
    min-height: 800px;
    background: url("../images/header-bg.jpg") no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover; }
  header #carouselExampleIndicators .control {
    position: absolute;
    right: 0;
    bottom: -40px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0; }
  header #carouselExampleIndicators .carousel-control-prev {
    position: static;
    width: 11px;
    height: 11px;
    opacity: 1; }
    header #carouselExampleIndicators .carousel-control-prev .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#bfbfbf' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
    header #carouselExampleIndicators .carousel-control-prev .carousel-control-prev-icon:hover {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ec7e01' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
  header #carouselExampleIndicators .carousel-control-next {
    position: static;
    width: 11px;
    height: 11px;
    opacity: 1; }
    header #carouselExampleIndicators .carousel-control-next .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#bfbfbf' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
    header #carouselExampleIndicators .carousel-control-next .carousel-control-next-icon:hover {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ec7e01' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
  header #carouselExampleIndicators .carousel-indicators {
    margin: 0;
    position: static;
    width: 110px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    list-style: none; }
    header #carouselExampleIndicators .carousel-indicators li {
      margin-right: 3px;
      margin-left: 3px;
      background-color: #bfbfbf;
      width: 11px;
      height: 11px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      cursor: pointer; }
    header #carouselExampleIndicators .carousel-indicators .active {
      background-color: #ec7e01; }
  header .xs-bg {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100; }
  header .top-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px; }
    header .top-menu .navbar-brand {
      padding: 0;
      padding-top: 20px; }
    header .top-menu .search-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      header .top-menu .search-block .search-form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 15px; }
        header .top-menu .search-block .search-form input::-webkit-input-placeholder {
          color: #fff; }
        header .top-menu .search-block .search-form input:-moz-placeholder {
          color: #fff; }
        header .top-menu .search-block .search-form .search-input {
          width: 240px;
          height: 21px;
          font-family: 'HelveticaNeueCyr-Light';
          font-size: 16px;
          background: transparent;
          border: none;
          border-bottom: 1px solid #fff;
          color: #fff;
          outline: none;
          padding-left: 15px; }
        header .top-menu .search-block .search-form .find-mark {
          display: block;
          border-bottom: 1px solid #fff;
          height: 21px;
          width: 15px; }
    header .top-menu .contact-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding: 20px 0;
      font-family: 'HelveticaNeueCyr-Bold';
      font-weight: bold;
      font-size: 18px; }
      header .top-menu .contact-block .contact-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        header .top-menu .contact-block .contact-item div {
          font-family: 'HelveticaNeueCyr-Bold';
          font-weight: bold;
          font-size: 18px; }
        header .top-menu .contact-block .contact-item img {
          display: block;
          margin-right: 10px; }
      header .top-menu .contact-block .mail-block {
        width: 220px;
        margin-right: 25px; }
      header .top-menu .contact-block .phone-block {
        width: 205px;
        margin-right: 25px; }
      header .top-menu .contact-block .social-block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 160px;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        header .top-menu .contact-block .social-block .sprite {
          background-image: url(../images/social.png);
          background-repeat: no-repeat;
          display: block; }
        header .top-menu .contact-block .social-block .sprite-facebook {
          width: 8px;
          height: 15px;
          background-position: -5px -5px; }
        header .top-menu .contact-block .social-block .sprite-google {
          width: 16px;
          height: 11px;
          background-position: -23px -5px; }
        header .top-menu .contact-block .social-block .sprite-twitter {
          width: 15px;
          height: 13px;
          background-position: -49px -5px; }
        header .top-menu .contact-block .social-block .sprite-youtoob {
          width: 16px;
          height: 11px;
          background-position: -74px -5px; }
    header .top-menu .main-menu {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      header .top-menu .main-menu .nav-link {
        font-family: 'HelveticaNeueCyr-Light';
        font-size: 12px;
        font-weight: light;
        text-transform: uppercase;
        color: #fff;
        padding: 0;
        margin-left: 15px;
        margin-top: 5px; }
        header .top-menu .main-menu .nav-link .my-arrow {
          display: inline-block;
          background: url("../images/arrow.png") no-repeat;
          width: 11px;
          height: 6px;
          vertical-align: 2px; }
        header .top-menu .main-menu .nav-link:after {
          display: none; }
        header .top-menu .main-menu .nav-link:hover, header .top-menu .main-menu .nav-link:active, header .top-menu .main-menu .nav-link:visited {
          color: #fff;
          text-decoration: underline; }
  header .menu-line {
    width: 100%;
    height: 1px;
    background: #ec7e01; }
  header .header-content {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0; }
    header .header-content .company-name {
      color: #dc7910;
      font-family: 'HelveticaNeueCyr-Bold';
      font-size: 24px;
      text-transform: uppercase; }
    header .header-content .content-title {
      font-family: 'HelveticaNeueCyr-Light';
      font-size: 30px;
      color: #fff;
      line-height: 40px;
      text-transform: uppercase; }
      header .header-content .content-title .bold {
        font-family: 'HelveticaNeueCyr-Bold';
        font-size: 36px; }
    header .header-content .line-underline {
      width: 120px;
      height: 1px;
      background: #fff;
      margin-top: 28px;
      margin-bottom: 35px; }
    header .header-content .features {
      list-style: disc;
      color: #fff;
      padding-left: 19px;
      margin-bottom: 60px; }
      header .header-content .features .features-item {
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 14pt;
        color: #fff;
        font-weight: 200;
        margin-bottom: 12px; }
        header .header-content .features .features-item:last-child {
          margin-bottom: 0; }

.mouse {
  display: block;
  margin: 0 auto;
  margin-top: 95px; }

.privilege {
  background: url("../images/privilege-bg.jpg") no-repeat;
  min-height: 1138px;
  padding-bottom: 80px;
  background-position: center bottom;
  background-color: #fff; }
  .privilege .privilege-view {
    margin-bottom: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .privilege .privilege-view .privilege-item {
      min-width: 130px;
      width: 130px;
      margin-bottom: 30px; }
      .privilege .privilege-view .privilege-item img {
        display: block;
        margin: 0 auto; }
      .privilege .privilege-view .privilege-item p {
        margin-top: 35px;
        text-align: center;
        font-family: 'HelveticaNeueCyr-Bold';
        font-weight: bold;
        font-size: 18px; }
  .privilege .privilege-description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .privilege .privilege-description .description-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 48px; }
      .privilege .privilege-description .description-item:nth-child(3n) {
        margin-right: 0; }
    .privilege .privilege-description .num {
      font-family: 'HelveticaNeueCyr-Bold';
      font-weight: bold;
      font-size: 72px;
      color: #ec7e01;
      margin-right: 20px;
      padding-left: 11px; }
    .privilege .privilege-description .caption {
      font-family: 'HelveticaNeueCyr-Roman';
      font-size: 26px;
      color: #202020;
      text-transform: uppercase; }
    .privilege .privilege-description .text {
      width: 100%;
      font-family: 'HelveticaNeueCyr-Roman';
      font-size: 14px;
      color: #202020;
      padding-left: 28px;
      min-height: 79px;
      position: relative; }
      .privilege .privilege-description .text:before {
        position: absolute;
        content: url("../images/privilege-points.png");
        bottom: 0;
        left: 0;
        width: 11px;
        height: 79px; }

.artifical-product {
  min-height: 1075px;
  padding-bottom: 90px;
  background-color: #fff; }
  .artifical-product .artifical-view {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .artifical-product .artifical-view .artifical-item {
      margin-bottom: 20px; }
      .artifical-product .artifical-view .artifical-item .image-block {
        position: relative;
        margin-left: 8px; }
        .artifical-product .artifical-view .artifical-item .image-block img {
          width: 100%;
          -webkit-box-shadow: -8px 8px 3px 0px #c0c1c1;
                  box-shadow: -8px 8px 3px 0px #c0c1c1; }
        .artifical-product .artifical-view .artifical-item .image-block .artifical-description {
          display: none; }
        .artifical-product .artifical-view .artifical-item .image-block:hover .artifical-description {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(32, 32, 32, 0.7); }
          .artifical-product .artifical-view .artifical-item .image-block:hover .artifical-description .artifical-text {
            display: block;
            color: #fff;
            text-align: left;
            font-family: 'HelveticaNeueCyr-Roman';
            font-size: 14px;
            margin: 30% 25px;
            margin-bottom: 0; }
          .artifical-product .artifical-view .artifical-item .image-block:hover .artifical-description .caption {
            font-family: 'HelveticaNeueCyr-Bold';
            font-size: 22px;
            margin-bottom: 25px;
            text-transform: uppercase;
            text-align: center; }

.consultation {
  padding: 104px 0 80px 0;
  min-height: 400px;
  background: url("../images/consultation.jpg") no-repeat; }
  .consultation .consultation-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .consultation .consultation-content .description-container {
      width: 720px;
      font-family: 'HelveticaNeueCyr-Roman';
      font-size: 18px; }
      .consultation .consultation-content .description-container .description {
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 18px;
        color: #ffffff; }
      .consultation .consultation-content .description-container .link {
        display: block;
        color: #ec7e01;
        margin-top: 10px; }

.table-top {
  padding: 100px 0;
  padding-top: 60px;
  background: url("../images/table-top-bg.png") no-repeat;
  background-position: center bottom;
  min-height: 1790px;
  background-color: #fff; }
  .table-top .item-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 40px;
    min-height: auto; }
    .table-top .item-block .advantages {
      text-transform: uppercase;
      font-family: 'HelveticaNeueCyr-Roman';
      font-size: 18px;
      color: #ec7e01; }
    .table-top .item-block h4.title-table {
      font-family: 'HelveticaNeueCyr-Light';
      font-weight: 300;
      font-size: 22px;
      text-transform: uppercase; }
    .table-top .item-block .image-block {
      position: relative; }
      .table-top .item-block .image-block img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        -webkit-box-shadow: -20px 20px 1px 0px #ec7e01;
                box-shadow: -20px 20px 1px 0px #ec7e01; }
    .table-top .item-block .table-underline {
      margin-top: 40px;
      width: 150px;
      height: 2px;
      background: #ec7e01;
      margin-bottom: 15px; }
    .table-top .item-block .paragraph {
      font-family: 'HelveticaNeueCyr-Roman';
      font-size: 14px;
      margin-top: 15px; }
      .table-top .item-block .paragraph span {
        color: #ec7e01; }
    .table-top .item-block .list {
      list-style-type: disc;
      padding-left: 15px;
      margin: 0; }
      .table-top .item-block .list li {
        color: #ec7e01;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 14px;
        line-height: 24px; }
        .table-top .item-block .list li span {
          color: #202020; }
    .table-top .item-block:nth-child(2n) .image-block img {
      position: absolute;
      left: 15px;
      -webkit-box-shadow: 20px 20px 1px 0px #ec7e01;
              box-shadow: 20px 20px 1px 0px #ec7e01; }

.our-job {
  min-height: 655px;
  background-color: #fff; }
  .our-job .content-item .image-block {
    margin-left: 8px;
    position: relative; }
    .our-job .content-item .image-block img {
      display: block;
      width: 100%;
      -webkit-box-shadow: -8px 8px 3px 0px #c0c1c1;
              box-shadow: -8px 8px 3px 0px #c0c1c1; }
    .our-job .content-item .image-block .title {
      display: none; }
    .our-job .content-item .image-block .dark-bg {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .our-job .content-item .image-block .dark-bg:hover {
        background: rgba(32, 32, 32, 0.7);
        text-decoration: none; }
        .our-job .content-item .image-block .dark-bg:hover .title {
          display: block;
          margin-top: 50%;
          color: #fff;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          text-align: center;
          font-family: 'HelveticaNeueCyr-Roman';
          font-size: 16px; }
  .our-job .content-item .text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0; }
    .our-job .content-item .text-block .text {
      font-family: 'HelveticaNeueCyr-Bold';
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase; }
  .our-job .content-item:hover .eye {
    height: 12px;
    width: 27px;
    background: url("../images/eye.png") no-repeat; }

.questions {
  min-height: 481px;
  background: url("../images/question.png");
  padding-top: 135px;
  padding-bottom: 80px; }
  .questions .question-left p {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 16px;
    color: #fff; }
  .questions .question-left .phone-red {
    font-weight: bold;
    color: #ec7e01;
    line-height: 1.2; }
  .questions .question-left .mr-top {
    margin-top: 20px; }
  .questions .question-right .placeinput {
    position: relative;
    overflow: hidden; }
  .questions .question-right input::-webkit-input-placeholder {
    color: #fff; }
  .questions .question-right input:-moz-placeholder {
    color: #fff; }
  .questions .question-right input {
    width: 100%;
    height: 30px;
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    outline: none;
    padding-left: 15px; }
    .questions .question-right input:last-child {
      margin-right: 0; }
  .questions .question-right .place-holder {
    z-index: 100;
    left: 10px;
    cursor: text;
    position: absolute;
    top: 8px;
    left: 30px;
    width: 100%;
    color: #fff;
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 16px; }
    .questions .question-right .place-holder span {
      color: red; }
  .questions .question-right .area {
    margin-top: 25px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    height: 100px;
    width: 100%;
    outline: none;
    resize: none; }
  .questions .question-right textarea::-webkit-input-placeholder {
    color: #fff; }
  .questions .question-right textarea:-moz-placeholder {
    color: #fff; }
  .questions .question-right .btn-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.partners {
  min-height: 400px;
  padding-bottom: 110px; }
  .partners img {
    opacity: 0.4; }
    .partners img:hover {
      opacity: 1; }

footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #202020;
  min-height: 300px; }
  footer .footer-content {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    footer .footer-content .logo-description {
      margin-top: 25px;
      font-family: 'HelveticaNeueCyr-Roman';
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      line-height: 18px; }
    footer .footer-content .brand {
      font-family: 'HelveticaNeueCyr-Bold';
      font-size: 8px;
      color: #ec7e01;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 10px; }
    footer .footer-content .icons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 15px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      footer .footer-content .icons .icons-text {
        color: #fff;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 14px; }
      footer .footer-content .icons .sprite {
        background-image: url(../images/footer-icons.png);
        background-repeat: no-repeat;
        display: block;
        margin-right: 12px; }
      footer .footer-content .icons .sprite-footer-faxl {
        width: 16px;
        height: 13px;
        background-position: -5px -5px; }
      footer .footer-content .icons .sprite-footer-mail {
        width: 12px;
        height: 9px;
        background-position: -31px -5px; }
      footer .footer-content .icons .sprite-footer-marker {
        width: 10px;
        height: 14px;
        background-position: -53px -5px; }
      footer .footer-content .icons .sprite-footer-phone {
        width: 13px;
        height: 13px;
        background-position: -73px -5px; }
      footer .footer-content .icons .sprite-footer-site {
        width: 14px;
        height: 14px;
        background-position: -96px -5px; }
      footer .footer-content .icons .sprite-footer-social {
        width: 17px;
        height: 15px;
        background-position: -120px -5px; }
    footer .footer-content .icons-right {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      footer .footer-content .icons-right .social {
        width: 169px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      footer .footer-content .icons-right .social-block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 115px;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        footer .footer-content .icons-right .social-block .sprite-social {
          background-image: url(../images/social.png);
          background-repeat: no-repeat;
          display: block; }
        footer .footer-content .icons-right .social-block .sprite-facebook {
          width: 8px;
          height: 15px;
          background-position: -5px -5px; }
        footer .footer-content .icons-right .social-block .sprite-google {
          width: 16px;
          height: 11px;
          background-position: -23px -5px; }
        footer .footer-content .icons-right .social-block .sprite-twitter {
          width: 15px;
          height: 13px;
          background-position: -49px -5px; }
        footer .footer-content .icons-right .social-block .sprite-youtoob {
          width: 16px;
          height: 11px;
          background-position: -74px -5px; }
  footer .autors {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 55px; }
    footer .autors .autors-item {
      color: #484848;
      font-family: 'HelveticaNeueCyr-Roman';
      font-size: 10px; }
      footer .autors .autors-item span {
        margin-left: 8px; }
    footer .autors .disainer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      footer .autors .disainer .mark-disainer {
        display: block;
        width: 9px;
        height: 10px;
        background: url("../images/disainer.png") no-repeat;
        opacity: 0.1;
        padding-bottom: 10px; }
