.cd-accordion-menu label{
  text-transform: uppercase
}
.cd-accordion-menu {
  
 
}
.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}
.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.cd-accordion-menu label{
  position: relative;
  display: block;
  color: #ffffff;
  padding-left: 16px
  
}

.cd-accordion-menu label::before {
  /* icons */
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu label {
  cursor: pointer;
}
.cd-accordion-menu label::before {
  background-image: url(../images/cd-icons.svg);
  background-repeat: no-repeat;
}
.cd-accordion-menu label::before {
  /* arrow icon */
  left: 0;
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}


.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.cd-accordion-menu ul label {
  
  
  padding-left: 16px;
}
.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
  background: #3c3f45;
}
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
}
.cd-accordion-menu ul label::before {
  
}

.cd-accordion-menu ul ul label {
  padding-left: 16px;
}


.cd-accordion-menu ul ul ul label {
  padding-left: 16px;
}
.cd-accordion-menu ul ul ul label::before {
  left: 72px;
}

@media only screen and (min-width: 600px) {
  .cd-accordion-menu label{
    padding: 5px 5px 5px 16px;
    font-size: 12px;
  }
  
  
  .cd-accordion-menu ul label{
    padding-left: 16px;
  }
  .cd-accordion-menu ul label::before {
    left: 0;
  }
  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 0;
  }
  .cd-accordion-menu ul ul label{
    padding-left: 16px;
  }
  .cd-accordion-menu ul ul label::before {
    
  }
  
  .cd-accordion-menu ul ul ul label {
    padding-left: 16px;
  }
  .cd-accordion-menu ul ul ul label::before {
    
  }
  
}
.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-accordion-menu a{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  padding: 0;
}
.cd-accordion-menu a:hover,.cd-accordion-menu a:active{
  color: #dc7910
  
}
.has-children ul {
  padding-left: 12px;
}
.cd-accordion-menu label{
  margin-bottom: 0
}
.nav-item{
  margin-right: 10px;
}

@media screen and (max-width: 991px) {
  .cd-accordion-menu label, .cd-accordion-menu a{
    font-size: 14px;
  }
  .has-children .has-children{
    padding-bottom: 0;
  }
  
@media screen and (max-width: 640px) {
  .cd-accordion-menu label, .cd-accordion-menu a {
    font-size: 12px;
    
  }
